.bg-cold {
    background-image: url(./../images/cold.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-normal {
    background-image: url(./../images/cool.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-hot {
    background-image: url(./../images/hot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}